extends ../layout

block content
	p
		| You're all ready to go!
		br
		| Your current status: 
		img(src=url.icon)
		|  #{account.getFriendlyState()}
		if account.statusText
			|  (#{account.statusText})
	
		
	h2 Using it
	p Use any of the following URLs to retrieve your status information.
	
	table#statusImages.table.table-striped.table-bordered
		thead
			tr
				th Format
				th URL
				th Example
				th Get the code
		tbody
			
			each image in statusImages
				tr
					td= image.format
					td
						a(href=image.url,target="_blank") #{image.url}
					td
						img(src=image.url)
					td
						input(type="button", class="btn get-code", value="Get it &rarr;", data-url=image.url)
	
	h3 For Developers
	
	table.table.table-striped.table-bordered
		thead
			tr
				th Format
				th Description
				th URL
				th Example
		tbody
			tr
				td JSONP
				td Status info in JSON with padding, for use in JavaScript
				td
					a(href=url.jsonp,target="_blank") #{url.jsonp}
				td(rowspan=2)
					pre#jsonData
	
			tr
				td JSON
				td Status info in JSON format
				td
					a(href=url.json,target="_blank") #{url.json}
	
	#codeModal.modal.hide(tabindex="-1", role="dialog", area-hidden="true", area-labelledby="codeModalLabel")
		.modal-header
			button.close(type="button", data-dismiss="modal", area-hidden="true") &times;
			h3#codeModalLabel Status Image Code
		.modal-body
			p Copy and paste the code below to use this status image:
			form.form-horizontal
				.control-group
					label.control-label(for="url") HTML (eg. websites):
					.controls
						input.input-xlarge(type="text", id="url", size="50")

				.control-group
					label.control-label(for="bbcode") BBCode (forums):
					.controls
						input.input-xlarge(type="text", id="bbcode", size="50")		
		
		.modal-footer
			button.btn(data-dismiss="modal", area-hidden="true") Close

block extraScripts
	script(src=url.jsonp)